// Colors
$primary-color: #b67934; // Orange for Leukaemia awareness
$secondary-color: #f4f4f9;
$text-color: #333;
$link-hover-color: #4e006d;

// Spacing
$padding: 10px;
$margin: 15px;
$border-radius: 8px;
