// src/assets/styles/utilities.scss

@import "variables";

// Spacing Utilities
.u-margin-sm {
  margin: $spacing-sm;
}

.u-margin-md {
  margin: $spacing-md;
}

.u-margin-lg {
  margin: $spacing-lg;
}

.u-padding-sm {
  padding: $spacing-sm;
}

.u-padding-md {
  padding: $spacing-md;
}

.u-padding-lg {
  padding: $spacing-lg;
}

// Text Utilities
.u-text-center {
  text-align: center;
}

.u-text-primary {
  color: $primary-color;
}

.u-text-secondary {
  color: $secondary-color;
}
